/* margin before images*/
.imgdiv {
    margin-top: 70px;
}

@media (min-width: 767px) {
    .imgdiv {
        margin-top: 0px;
    }
}


.hzline {
    border-bottom: 3px solid #000;
}


/* Mobile styling for whystudy.html page */

#content-why {
    display: flex;
    flex-direction: column;

    /* margin-left: 30px; */

}

.img-why {
    object-fit: cover;
    height: 300px;

    opacity: 80%;
    z-index: -1;

    width: 100%;
}

@media (min-width: 1199px) {

    .content-wrapper {
        max-width: 1200px;

        margin-left: auto;
        margin-right: auto;
    }

    #content-how {
        max-width: 1200px;

        margin-left: auto;
        margin-right: auto;
    }




}



/* Desktop styling for whystudy.html */
@media (min-width: 767px) {

    .content-wrapper {
        display: flex;
        justify-content: center;
        /* max-width: 70%; */
        /* margin-left: 20%;
        margin-right: 20%; */

        max-width: 1200px;
    }

    #content-why {
        display: grid;
        grid-template: 20px auto 20px auto 20px auto 20px auto 20px / 2fr 20px 2fr;

    }



    #content-why .text-intro {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        text-align: center;
    }



    #content-why .text-one {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 4;
        grid-row-end: 5;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        /* text-align: justify; */
    }

    #content-why .text-two {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 6;
        grid-row-end: 7;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        /* text-align: justify; */
    }

    #content-why .text-three {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 8;
        grid-row-end: 9;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        /* text-align: justify; */
    }

    #content-why .img-one {
        height: auto;
        /* max-width: 150px; */
        grid-column: 3 / 4;
        grid-row: 4/5;

    }

    #content-why .img-two {
        height: auto;
        /* max-width: 200px; */
        grid-column: 3 / 4;
        grid-row: 6/7;

    }


    #content-why .img-three {
        height: auto;
        /* max-width: 200px; */
        grid-column: 3 / 4;
        grid-row: 8/9;

    }

    .img-why {
        max-width: 400px;
        width: unset;
    }

    .imgdiv {
        display: flex;
        justify-content: center;
    }

}





/* ------------------------------------------------ */
/* Mobile styling for howtostudy.html page */

#content-how {
    display: flex;
    flex-direction: column;

    /* margin-left: 30px; */

}

.img-how {
    object-fit: cover;
    height: 300px;

    opacity: 80%;
    z-index: -1;

    width: 100%;
}


/* Desktop styling for howtostudy.html */
@media (min-width: 767px) {

    #content-how {
        display: grid;
        grid-template: 20px auto 20px auto 20px auto 20px auto 20px auto 20px/ 2fr 20px 2fr;

        /* margin-left: 20%;
        margin-right: 20%; */
        max-width: 1200px;

    }


    #content-how .text-intro {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 2;
        grid-row-end: 3;
    }



    #content-how .text-one {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 4;
        grid-row-end: 5;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

    }

    #content-how .text-two {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 6;
        grid-row-end: 7;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

    }

    #content-how .text-three {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 8;
        grid-row-end: 9;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

    }

    #content-how .text-four {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 10;
        grid-row-end: 11;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

    }

    #content-how .text-five {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 12;
        grid-row-end: 13;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

    }

    #content-how .img-one {
        height: auto;
        /* max-width: 150px; */
        grid-column: 3 / 4;
        grid-row: 4/5;

    }

    #content-how .img-two {
        height: auto;
        /* max-width: 200px; */
        grid-column: 3 / 4;
        grid-row: 6/7;

    }


    #content-how .img-three {
        height: auto;
        /* max-width: 200px; */
        grid-column: 3 / 4;
        grid-row: 8/9;

    }

    #content-how .img-four {
        height: auto;
        /* max-width: 200px; */
        grid-column: 3 / 4;
        grid-row: 10/11;

    }

    #content-how .img-five {
        height: auto;
        /* max-width: 200px; */
        grid-column: 3 / 4;
        grid-row: 12/13;

    }

    .img-how {
        max-width: 400px;
        width: unset;
    }

}

/* --------------------------------------------------- */
/* Mobile styling for about.html page */

#content-about {
    display: flex;
    flex-direction: column;

}


/* Desktop styling for about.html */
@media (min-width: 767px) {

    #content-about {
        max-width: 767px;

        margin-left: auto;
        margin-right: auto;
    }
}





/* Mobile styling for contact.html page */

#content-contact {
    display: flex;
    flex-direction: column;

}

.col-25,
.col-75,
input[type=submit] {
    width: 100%;
    margin-top: 0;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 600px) {

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        /* background-color: #f2f2f2; */
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* Desktop styling for contact.html */
@media (min-width: 767px) {

    #content-contact {
        max-width: 767px;

        margin-left: auto;
        margin-right: auto;

    }
}